/* Regra Universal */
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/* Corpo do HTML */
body {
    background: rgba(109, 255, 246, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Conteúdo */
.conteudo {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1000px;
    width: 700px;
    box-sizing: border-box;
}
.conteudo .calendario {
    width: 60%;
}
.conteudo .calendario header {
    position: 60%;
}

/* h2 universal */
h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}

/* Botões */
.bt_antes, .bt_depois {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: 2px solid #00addf;
    border-radius: 50%;
    color: #00addf;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.bt_antes {
    left: 10px;
}
.bt_depois {
    right: 10px;
}
.bt_antes:hover, .bt_depois:hover{
    cursor: pointer;
    background: #cbd1d2;
    color: #f9f9f9;
}

/* Calendário */
.calendario {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
}
.calendario header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.calendario table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}
.calendario table .dia_hoje {
    background: #00addf; 
    color: #f9f9f9;
}
.calendario thead {
    background: rgba(55, 126, 94, 0.2);
    font-weight: 600;
    text-transform: uppercase;
}
.calendario td {
    border: 2px solid rgba(55, 126, 94, 0.2);
    height: 80px;;
    text-align: center;
    width: calc(100% / 7);
    position: relative;
}
.calendario tbody td {
    cursor: pointer;
}
.calendario tbody td:hover {
    background: rgba(0, 173, 223, 0.8);
    color: #f9f9f9;
}
.calendario table .dia_hoje {
    background: #00addf;
    color: #f9f9f9;
}
.calendario .mes_antes, .calendario .mes_depois {
    color: #cdb1d2;
}
.calendario .mes_antes:hover, .calendario .mes_depois:hover {
    background: #98a0a0;
}

/* Eventos */
.evento {
    position: relative;
}
.evento:after {
    content:'';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.evento:hover:after {
    background: #f9f9f9;
}
.evento .dia_hoje:after {
    background: #f9f9f9;
}

/* Parte de eventos */

.resumo-evento {
    position: absolute;
    background: rgba(0, 175, 223, 0.14);
    color: #002503;
    padding: 5px;
    border-radius: 3px;
    z-index: 10;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.detalhe-evento {
    width: 35%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    max-height: 600px; 
    margin-left: 20px;
}
.sobre-evento {
    width: 35%;
    padding: 10px;
    background: rgba(232, 223, 255, 0.733);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    max-height: 1000px;
    margin-left: 20px;
}
.sobre-evento h3 {
    margin-top: 0;
}